<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD TATA Innovation Support Center</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/Detproj/css/detpp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">

</head>
<body>
  <header class="nav-down">
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/jrdl.png" alt="logo" id="logo">

        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Event</a></li>
          <li><a href="/templates/projects.html">Project</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/courses.html">Courses</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
            </div>
       </li>
        </ul>
      </nav>
    </div>
  </header>



<section id="Profile">
  <button onclick="window.location.href='/templates/profile.html'"></button>
</section>
<section id="home" class="home">
  <h1>Life Sized robotic Arm</h1>
</section>
<section class="project">
  <div class="project-abstract">
    <p>The project focuses on developing a life-sized articulated robotic arm, constructed primarily from wood and equipped with high load-bearing servos. This project involves a significant amount of mechanical and fabrication skill, including:
      <br>• Cutting and working with wood to create mounts and brackets.
      <br>• Designing the gripper assembly.
     <br>• CNC cutting of metal gears and the drive system for servos.
     <br>It is a 3D-printed robotic arm with five degrees of freedom, designed to provide hands-on experience in servo control and robotics. This arm is powered by six high-torque servos and controlled by an Arduino UNO microcontroller, offering both manual and gesture-based control options.
    </p>
  </div>
    <div class="team-det">
      <h2>TEAM DETAILS:</h2>
    </div>
    <div class="project-container">
      <div class="project-card">
        <div class="project-card-info">
        <div class="project-card-avatar"><img src="/images/img/ccm1.png"></div>
        <div class="project-card-title">S. Hashir Ahmed</div>
        <div class="project-card-subtitle">MODEL DEVELOPER</div>
        </div>
        </div>

        <div class="project-card">
          <div class="project-card-info">
          <div class="project-card-avatar"><img src="/images/img/ccm2.png"></div>
          <div class="project-card-title">Jihan Rakesh Jain</div>
          <div class="project-card-subtitle">MODEL DEVELOPER</div>
          </div>
          </div>
  </div>
  <div class="team-det">  
    <h2>ABOUT PROJECT:</h2>
  </div>
  <div class="programs-container">
    <div class="proj-card">
      <div class="proj-card-image"><img src="/images/img/ccpp.png"></div>
      <div class="category"> Fig.1: Protoype of the Life Sized robotic Arm </div>
  </div>  
</div>
  <div class="project-container">
  <div class="project-abstract">
    <p>The project involves creating a life-sized articulated robotic arm primarily from wood, utilizing high load-bearing servos. It requires significant mechanical and fabrication skills, such as cutting wood for mounts and brackets, designing a gripper assembly, and CNC cutting metal gears. The 3D-printed arm has five degrees of freedom, powered by six high-torque servos, and is controlled by an Arduino UNO microcontroller with manual and gesture-based options. Aimed at enhancing understanding of robotic systems, it serves as an educational tool for students, hobbyists, and professionals. Applications include education, prototyping, automation, human-robot interaction research, and assistive technology for individuals with disabilities.
      <br>The life-sized articulated robotic arm merges mechanical engineering and advanced control systems, enhancing skills in fabrication, electronics, and programming, with applications in education, automation, research, and assistive technology.
    </p>
  </div>
  </div>
</section>

<footer class="footer-distributed">
  <div class="footer-left">
    <div class="footer-logo">
        <img src="/images/img/jrdl.png" alt="JRD TATA Logo">
        <h3>JRD TATA <br><span>Innovation Support Center</span></h3>
    </div>
    <p class="footer-links">
        <a href="/templates/index.html" class="link-1">HOME</a>
        <a href="/templates/projects.html">PROJECTS</a>
        <a href="/templates/ourteam.html">OUR TEAM</a>
        <a href="/templates/aboutus.html">ABOUT US</a>
    </p>    
</div>

<div class="footer-center">
  <div>
      <i class="fa fa-globe" aria-hidden="true"></i>
      <p>India Institiue of Science <span>Bengaluru - 560012, Karnataka, India.</span></p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+91 8888666588</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">jrdisc.innovate@iisc.in</a></p>      
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span><u>About the JRD Tata ISC</u></span>
      The JRD Tata Innovation Support Centre engages youth in solving national problems through collaboration with government and industry. With IISc experts and interns, we focus on sectors like security, infrastructure, telecom, and healthcare, providing R&D services, developing prototypes, and partnering with MSMEs for production and scaling solutions effectively.
    </p>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <p class="footer-company-name">JRD TATA Innovation Support Center © 2024</p>  
</footer>

<script src="/Detproj/det.js"></script> 
</body>
</html> 
        
