<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD TATA Innovation Support Center</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">

</head>
<body>
  <header class="nav-down">
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/jrdl.png" alt="logo" id="logo">

        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Event</a></li>
          <li><a href="/templates/courses.html">Courses</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/projects.html">Project</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
            </div>
       </li>
        </ul>
      </nav>
    </div>
  </header>


<div class="team-det">
    <h2>EVENTS AT JRD ISC</h2>
  </div>
  <div class="container">
    <div class="event-card">
      <img src="/images/img/evt1.png" alt="ROSCon India 2023">
      <div class="event-details">
        <h2 class="event-title">PROJECT DEMONSTRATION AT ARTPARK GARAGE</h2>
        <p class="event-description">Demonstration day at ARTPARK Garage on June 29th showcases innovative tech projects, featuring cutting-edge AI and robotics, aiming to foster collaboration and inspire advancements in technology.</p>
        <div class="event-info">
          <div>
            <p class="event-date">29th June, 2024</p>
            <p class="event-location">ARTPARK GARAGE, Bengaluru</p>
          </div>
          <a href="/Detevt/evttemplate/evt1.html" class="button">View Event →</a>
        </div>
      </div>
    </div>
    <div class="event-card">
      <img src="/images/img/evt2.png" alt="Tech Summit 2023">
      <div class="event-details">
        <h2 class="event-title">INAUGURATION OF JRD TATA ISC</h2>
        <p class="event-description">The JRD Tata Innovation Support Centre at IISc, Bangalore, inaugurated on May 5, 2024, featured inspirational speeches, collaborative discussions, and cultural performances, emphasizing innovation and Atmanirbhar Bharat.</p>
        <div class="event-info">
          <div>
            <p class="event-date">05th May, 2024</p>
            <p class="event-location">Indian Institiue of Science, Bengaluru</p>
          </div>
          <a href="/Detevt/evttemplate/evt2.html" class="button">View Event →</a>
        </div>
      </div>
    </div>
    <div class="event-card">
      <img src="/images/img/evt3.png" alt="Tech Summit 2023">
      <div class="event-details">
        <h2 class="event-title">PRAGATI INNOVATION CHALLENGE</h2>
        <p class="event-description">The JRD Tata Innovation Support Centre, IEEE IISc, and EntIISc hosted the Pragati Innovation Challenge on March 22, 2024, engaging students in solving real-world problems with AI/ML, device instrumentation, and biochemistry.</p>
        <div class="event-info">
          <div>
            <p class="event-date">22nd March, 2024</p>
            <p class="event-location">Indian Institiue of Science, Bengaluru</p>
          </div>
          <a href="/Detevt/evttemplate/evt3.html" class="button">View Event →</a>
        </div>
      </div>
    </div>
</div>


  <footer class="footer-distributed">
  <div class="footer-left">
    <div class="footer-logo">
        <img src="/images/img/jrdl.png" alt="JRD TATA Logo">
        <h3>JRD TATA <br><span>Innovation Support Center</span></h3>
    </div>
    <br>
    
    <p class="footer-links">
        <a href="/templates/index.html" class="link-1">HOME</a>
        <a href="/templates/projects.html">PROJECTS</a>
        <a href="/templates/ourteam.html">OUR TEAM</a>
        <a href="/templates/aboutus.html">ABOUT US</a>
    </p>
</div>


 
  <div class="footer-center">

    <div>
      <i class="fa fa-globe" aria-hidden="true"></i>
      <p>India Institiue of Science <span>Bengaluru - 560012, Karnataka, India.</span></p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 8888666588</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">jrdisc.innovate@iisc.in</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the JRD Tata ISC</span>
      The JRD Tata Innovation Support Centre engages youth in solving national problems through collaboration with government and industry. With IISc experts and interns, we focus on sectors like security, infrastructure, telecom, and healthcare, providing R&D services, developing prototypes, and partnering with MSMEs for production and scaling solutions effectively.
    </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
      <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>

    </div>
      
  </div>
  <p class="footer-company-name">JRD TATA Innovation Support Center © 2024</p>
</footer>
  <script src="/javascript/events.js"></script>

  
</body>
</html> 