<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD TATA Innovation Support Center</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">

</head>
<body>
  <header class="nav-down">
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/jrdl.png" alt="logo" id="logo">

        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Event</a></li>
          <li><a href="/templates/projects.html">Project</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/courses.html">Courses</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
            </div>
       </li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="home" class="home">
    <div class="banner-slider">
      <div class="white-box" id="white-box">
        <h2 id="white-box-title"></h2>
        <p id="white-box-description"></p>
        <button class="learn-more"> 
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Know More</span>
        </button> 
      </div>
      <button class="banner-slider-btn banner-slider-btn-left">&#9664;</button>
      <div class="banner-slides">
        <img src="/images/img/ban1.jpg" alt="Event Image 1" data-title="PROJECT DEMONSTRATION AT ARTPARK GARAGE [ 29th June, 2024 ]" data-description="Demonstration day at ARTPARK Garage on June 29th showcases innovative tech projects, featuring cutting-edge AI and robotics, aiming to foster collaboration and inspire advancements in technology" class="active">
        <img src="/images/img/ban2.png" alt="Event Image 2" data-title="INAUGURATION OF JRD TATA ISC [ 05th May, 2024 ]" data-description="The JRD Tata Innovation Support Centre at IISc, Bangalore, inaugurated on May 5, 2024, featured inspirational speeches, collaborative discussions, and cultural performances, emphasizing innovation and Atmanirbhar Bharat.">
        <img src="/images/img/ban3.png" alt="Event Image 3" data-title="PRAGATI INNOVATION CHALLENGE [ 22nd March, 2024 ]" data-description="The JRD Tata Innovation Support Centre, IEEE IISc, and EntIISc hosted the Pragati Innovation Challenge on March 22, 2024, engaging students in solving real-world problems with AI/ML, device instrumentation, and biochemistry.">
      </div>
      <button class="banner-slider-btn banner-slider-btn-right">&#9654;</button>
      <div class="dots-container"></div>
    </div> 
  </section>
  

<section id="Profile">
  <button onclick="window.location.href='/templates/profile.html'"></button>  
</section>
<h1 class="news-heading"><a href="/templates/events.html">Events @ JRD TATA ISC</h1></a>
<section id="news" class="news">
    <div class="card-container">  
      <button class="prev-btn" onclick="prevCard()">&#9664;</button>
      <div class="card-slider">
        <div class="card">  
          <div class="card-image">
            <img src="/images/img/news1.jpg" alt="News Image">
          </div>
          <div class="card-load-extreme-title"><p><a href="/Detevt/evttemplate/evt1.html">PROJECT DEMONSTRATION AT ARTPARK GARAGE</a></p></div>
          <div class="card-load-extreme-descripion"><p>Demonstration day at ARTPARK Garage on June 29th showcases innovative tech projects, featuring cutting-edge AI and robotics, aiming to foster collaboration and inspire advancements in technology.</p><h4>29th JUNE, 2024</h4></div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="/images/img/news2.jpg" alt="News Image">
          </div>
          <div class="card-load-extreme-title"><p><a href="/Detevt/evttemplate/evt2.html">INAUGURATION OF JRD TATA ISC</a></p></div>
          <div class="card-load-extreme-descripion"><p>The JRD Tata Innovation Support Centre at IISc, Bangalore, inaugurated on May 5, 2024, featured inspirational speeches, collaborative discussions, and cultural performances, emphasizing innovation and Atmanirbhar Bharat.</p><h4>05th MAY, 2024</h4></div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="/images/img/news3.jpg" alt="News Image">
          </div>
          <div class="card-load-extreme-title"><p><a href="/Detevt/evttemplate/evt3.html">PRAGATI INNOVATION CHALLENGE</a></p></div>
          <div class="card-load-extreme-descripion"><p>The JRD Tata Innovation Support Centre, IEEE IISc, and EntIISc hosted the Pragati Innovation Challenge on March 22, 2024, engaging students in solving real-world problems with AI/ML, device instrumentation, and biochemistry.</p><h4>22nd MARCH, 2024</h4></div>
        </div>
      </div>
      <button class="next-btn" onclick="nextCard()">&#9654;</button>
    </div>
  </section> 
  <h1 class="project-heading"><a href="/templates/projects.html">Ongoing projects</h1></a>
  <section id="program-section" class="program-section">
    <div class="programs-container">
        <div class="program-card">
            <a href="/Detproj/template/copycat.html">
                <img src="/images/img/hm1.png" alt="Image 1">
            </a>
            <p>Copy-Cat Arm</p>
        </div>
        <div class="program-card">
            <a href="/Detproj/template/drone.html">
                <img src="/images/img/hm2.png" alt="Image 2">
            </a>
            <p>Drone with Self-Made Flight Controller</p>
        </div>
        <div class="program-card">
            <a href="/Detproj/template/accident.html">
                <img src="/images/img/hm3.png" alt="Image 3">
            </a>
            <p>Advanced Accident Detection Device</p>
        </div> 
        <div class="program-card">
            <a href="/Detproj/template/wpm.html">
                <img src="/images/img/hm4.png" alt="Image 4">
            </a>
            <p>Workplace Management System</p>
        </div>
    </div>
</section>

  <section id="courses"> 
  <h1 class="courses-heading">Courses Provided</h1>
  <div class="courses-container">
    <div class="course-card">
      <div class="header">
      <span class="title">Interview Training Course</span>
      </div>
      <p class="desc">
        Three-day course focuses on interview analysis, technical skills, and introspective soft skills. </p>
      <ul class="lists">
      <li class="list">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
      </svg>
      <span>Interview Analysis Techniques</span>
      </li>
      <li class="list">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
      </svg>
      <span>Advanced Technical Skills</span>
      </li>
      <li class="list">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
      </svg>
      <span>Story-Based Soft Skills Development</span>
      </li>
      </ul><button type="button" class="action">Know More</button>
      </div>
  </div>
</section>

<footer class="footer-distributed">
  <div class="footer-left">
    <div class="footer-logo">
        <img src="/images/img/jrdl.png" alt="JRD TATA Logo">
        <h3>JRD TATA <br><span>Innovation Support Center</span></h3>
    </div>
    <p class="footer-links">
        <a href="/templates/index.html" class="link-1">HOME</a>
        <a href="/templates/projects.html">PROJECTS</a>
        <a href="/templates/ourteam.html">OUR TEAM</a>
        <a href="/templates/aboutus.html">ABOUT US</a>
    </p>    
</div>

<div class="footer-center">
  <div>
      <i class="fa fa-globe" aria-hidden="true"></i>
      <p>India Institiue of Science <span>Bengaluru - 560012, Karnataka, India.</span></p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+91 8888666588</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">jrdisc.innovate@iisc.in</a></p>      
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span><u>About the JRD Tata ISC</u></span>
      The JRD Tata Innovation Support Centre engages youth in solving national problems through collaboration with government and industry. With IISc experts and interns, we focus on sectors like security, infrastructure, telecom, and healthcare, providing R&D services, developing prototypes, and partnering with MSMEs for production and scaling solutions effectively.
    </p>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <p class="footer-company-name">JRD TATA Innovation Support Center © 2024</p>  
</footer>
  <script src="/javascript/scripts.js"></script> 
</body>
</html> 


        
