<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD Innovate</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/Logo.png" alt="logo" id="logo">
          <h2><span>JRD</span>Innovate</h2>
        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Events</a></li>
          <li><a href="/templates/courses.html">Courses</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/projects.html">Project</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
              <a href="/templates/regpays.html">Registration and Payment</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="home" class="home">
    <div class="banner">
      <h4>"Innovate, Inspire, Impact."</h4>
          <br>
          <h2>JRD<span>Innovate!</span></h2>
          <button class="btn-79"><span>Explore Courses</span></button>
        </div>
        </div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
</section>
<section id="Profile">
  <button onclick="window.location.href='/templates/profile.html'"></button>
</section>
<section id="about" class="about">
      <h1 class="heading">About Us</h1>
      <div class="row">
          <div class="content">
              <h3>Empowering youth in pursuit of Technology Through Training Innovation and employment: Mission Pragati</h3>
              <p><span>Mission Pragati</span> empowers youth by offering cutting-edge technology training and employment opportunities, equipping them with essential skills and knowledge to succeed in a rapidly evolving digital world.</p>
              <a href="demo1.html"><button class="btn-55">WANT to know MORE</button></a>
          </div>
      </div>
</section>
<div class="pt-5 pb-5" style="background-color: #f2f2f2;">
  <div class="container">
    <div class="row">
      <div class="section-head col-sm-12" id="service">
        <h1>Our Courses</h1>
        <p>We provide high quality course which are industry-relevant skill training that will help them in securing a better livelihood.
          </p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-laptop"></i></span>
          <h6>Interview Courses</h6>
          <p>Brief  </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-head-1 col-sm-12" style="text-align: center;">
        <h4 style="margin-top: -5rem;" id="portfolio">Our Projects</h4>
        
        <p>We are working on active projects with the <br>Indian Army, Indian Air Force, Karnataka State Police and ARTPARK, BRIDGE Bharat, Accenture and Siemens. ​
          </p>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        
        <div class="item"><a href="/templates/projects.html"><span class="icon feature_box_col_four"><i class="fa fa-robot"></i></span></a>
          <h6>Surgical robot for army</h6>
          
          <p>Brief<br><br><br></p>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="item"><a href="/templates/projects.html"> <span class="icon feature_box_col_five"><i class="fa fa-plane"></i></span></a>
          <h6>Pilot Debriefing Software for Airforce</h6>
          <p>Brief<br><br><br></p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-hospital"></i></span>
          <h6>Forensics devices for KSP</h6>
          <p>Brief<br><br><br></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<div class="communicate">
  <h3>You contact through the our website or Email </h3>
  <p>iisc.blr@iis.in</p>
  <a href=""><button class="btn">Contact Now</button></a>
</div>
<div class="testimonials mt-100">
  <div class="container">
      <div class="section-header" style="text-align: center;">
          <h2 style="margin-top: -15rem;">Our Parent Commany</h2>
          <p style="font-size: 1.4rem;">
            ARTPARK is our Parent Company
          </p>
      </div>

      <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item row align-items-center">
              <div class="testimonial-img">
                  <img src="testimonial-1.jpg" alt="Testimonial image">
              </div>
              <div class="testimonial-text">
                  <h3>Dr. Sanjeev </h3>
                  <h4>CEO ARTPARK</h4>
                  <p>
                      Brief intro about him

                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="footer-links">
                  <h4>About Us</h4>
                  <ul>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="index.html">Home</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="aboutus.html">About us</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="/templates/projects.html ">Our Project</a></li>
                  </ul>
              </div>

              <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="Regpays.html">Registration & Payments</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="Our Team.html">Team</a></li>

              </div>

              <div class="footer-contact" style="font-size: 20px; font-family:'Times New Roman', Times;">
                  <h4>Contact Us</h4> 
                  <p>
                      Indain Institute of Science<br>
                      Bengaluru, Karnataka<br>
                      India<br>
                      <strong>Phone:</strong> +123-456-7890<br>
                      <strong>Email:</strong> info@example.com<br>
                  </p>

                  <div class="social-links">
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                      <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>

              </div>

  <div class="container">
      <div class="row align-items-center">
          <div class="copyright" style="color: #000000; font-size: 1.3rem;">
              Copyright &copy; 2024 JRD INNOVATE. All Rights Reserved.
          </div>
      </div>
  </div>
</div>
  <script src="/javascript/project.js"></script>
  
</body>
</html> 
        
