<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD Innovate</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/ourteam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/Logo.png" alt="logo" id="logo">
          <h2><span>JRD</span>Innovate</h2>
        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Events</a></li>
          <li><a href="/templates/courses.html">Courses</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/projects.html">Project</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
              <a href="/templates/regpays.html">Registration and Payment</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="responsive-container-block container">
    <p class="text-blk team-head-text">
      Our Team
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="/images/img/Dhruv.jpg">
          </div>
          <p class="text-blk name">
            Dhruv Gupta
          </p>
          <p class="text-blk position">
            Director, JRD ISC
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.twitter.com" target="_blank">
              <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="/images/img/testimonial-1.jpg">
          </div>
          <p class="text-blk name">
            Sanjeev
          </p>
          <p class="text-blk position">
            Manager, ARTPARK
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.twitter.com" target="_blank">
              <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
          </div>
          <p class="text-blk name">
            Davis George
          </p>
          <p class="text-blk position">
            CEO
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.twitter.com" target="_blank">
              <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      

    </div>
  </div>  
  </div>
  <script src="/javascript/project.js"></script>
  
</body>
</html> 
        
