<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD Innovate</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/ourteam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/Logo.png" alt="logo" id="logo">
          <h2><span>JRD</span>Innovate</h2>
        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Events</a></li>
          <li><a href="/templates/courses.html">Courses</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/projects.html">Project</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
              <a href="/templates/regpays.html">Registration and Payment</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container1">
    <section class="section" id="section1">
      <div class="responsive-container-block container">
        <p class="text-blk team-head-text">
          Our Team
        </p>
        <div class="responsive-container-block">
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="/images/img/Dhruv.jpg">
              </div>
              <p class="text-blk name">
                Dhruv Gupta
              </p>
              <p class="text-blk position">
                Director, JRD ISC
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="/images/img/testimonial-1.jpg">
              </div>
              <p class="text-blk name">
                Sanjeev
              </p>
              <p class="text-blk position">
                Manager, ARTPARK
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
    </section>
    <section class="section" id="section2">
      <div class="responsive-container-block outer-container">
        <div class="responsive-container-block inner-container">
          <p class="text-blk section-head-text">
            Meet Our Expert Instructors
          </p>
          <p class="text-blk section-subhead-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="responsive-container-block">
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
                </div>
                <p class="text-blk name">
                  Maxwell Doe
                </p>
                <p class="text-blk position">
                  Instructor
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
                </div>
                <p class="text-blk name">
                  Maxwell Doe
                </p>
                <p class="text-blk position">
                  Instructor
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
                </div>
                <p class="text-blk name">
                  Maxwell Doe
                </p>
                <p class="text-blk position">
                  Instructor
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
                </div>
                <p class="text-blk name">
                  Maxwell Doe
                </p>
                <p class="text-blk position">
                  Instructor
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="section" id="section3">
        <h1>Section 3</h1>
        <p>This is the last section. Scroll up to see more.</p>
    </section>
</div>
  <footer class="footer-distributed">

    <div class="footer-left">
  
      <h3>JRD<span>INNOVATE </span></h3>
  
      <p class="footer-links">
        <a href="/templates/index.html" class="link-1">HOME</a>
        
        <a href="/templates/projects.html">PROJECTS</a>
      
        <a href="/templates/courses.html">COURSES</a>
      
        <a href="/templates/events.html">EVENTS</a>
        
        <a href="/templates/ourteam.html">OUR TEAM</a>
        
        <a href="/templates/aboutus.html">ABOUT</a>
      </p>
  
      <p class="footer-company-name">JRD Innovation Support Center © 2024</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-globe" aria-hidden="true"></i>
        <p><span>India Institiue of Science</span> Bengaluru, Karnataka, India</p>
      </div>
  
      <div>
        <i class="fa fa-phone"></i>
        <p>+91 8888666588</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">jrdisc.innovate@iisc.in</a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p class="footer-company-about">
        <span>About the JRDINNOVATE</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>
  
      <div class="footer-icons">
  
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  
      </div>
  
    </div>
    <script src="/javascript/ourteam.js"></script>
    
  </body>
  </html> 
        
