<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD Innovate</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/ourteam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/Logo.png" alt="logo" id="logo">
          <h2><span>JRD</span>Innovate</h2>
        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Events</a></li>
          <li><a href="/templates/courses.html">Courses</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/projects.html">Project</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
              <a href="/templates/regpays.html">Registration and Payment</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>


<section id="team">
  <button onclick="window.location.href='/templates/profile.html'"></button>
</section>
<section id="team">
  <h1>Let's meet our Team of JRD ISC</h1>
  <div class="p">
  <p>We have completed several projects in various domains and right now working on several Projects</p></div>
  <br>
  <h2>Ongoing Projects</h2>
  

  <div class="card-client">
    <div class="user-picture">
        <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
        </svg>
    </div>
    <p class="name-client"> Jhon Doe
        <span>CEO of WritBook
        </span>
    </p>
    <div class="social-media">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
            </svg>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
            </svg>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>

<div class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="footer-links">
                  <h4>About Us</h4>
                  <ul>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="index.html">Home</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="aboutus.html">About us</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="/templates/projects.html">Our Project</a></li>
                  </ul>
              </div>

              <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="Regpays.html">Registration & Payments</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="Our Team.html">Team</a></li>

              </div>

              <div class="footer-contact" style="font-size: 20px; font-family:'Times New Roman', Times;">
                  <h4>Contact Us</h4> 
                  <p>
                      Indain Institute of Science<br>
                      Bengaluru, Karnataka<br>
                      India<br>
                      <strong>Phone:</strong> +123-456-7890<br>
                      <strong>Email:</strong> info@example.com<br>
                  </p>

                  <div class="social-links">
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                      <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>

              </div>

  <div class="container">
      <div class="row align-items-center">
          <div class="copyright" style="color: #000000; font-size: 1.3rem;">
              Copyright &copy; 2024 JRD INNOVATE. All Rights Reserved.
          </div>
      </div>
  </div>
</div>
  <script src="/javascript/project.js"></script>
  
</body>
</html> 
        
