<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRD Innovate</title>
    <link rel="icon" href="/images/img/Logo.png">
    <link rel="stylesheet" href="/images/cssfiles/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="/images/img/Logo.png" alt="logo" id="logo">
          <h2><span>JRD</span>Innovate</h2>
        </div>
        <ul class="nav-links">
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/events.html">Events</a></li>
          <li><a href="/templates/courses.html">Courses</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">
              <span class="menu-btn">
                <i class="fas fa-bars"></i>
              </span>
              <span class="close-btn">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <div class="dropdown-content">
              <a href="/templates/projects.html">Project</a>
              <a href="/templates/ourteam.html">Our Team</a>
              <a href="/templates/aboutus.html">About Us</a>
              <a href="/templates/regpays.html">Registration and Payment</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>


<section id="Profile">
  <button onclick="window.location.href='/templates/profile.html'"></button>
</section>
<section id="projects">
  <h1>JRD Innovation Support Center Projects</h1>
  <div class="p">
  <p>We have completed several projects in various domains and right now working on several Projects</p></div>
  <br>
  <h2>Ongoing Projects</h2>
  
  <!-- Project container -->
  <div class="project-container">
    <!-- Project 1 -->
    <div class="projects">
      <div class="image"><img src="/images/img/Robticarm.png"></div>
       <div class="content">
        <a>
           <span class="title">
              Articulated Robotic Arm
           </span>
          </a>
     
         <p class="desc">
          This project builds a life-sized wooden robotic arm with high load-bearing servos, combining mechanical design and advanced controls. 
          It's perfect for learning and experimentation, suitable for students, hobbyists, and professionals exploring robotics and practical applications.
         </p>
     
         <a class="action" href="/Detproj/template/copycat.html">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
    
    <!-- Project 2 -->
    <div class="projects">
      <div class="image"><img src="/images/img/Braincell.png"></div>
       <div class="content">
         <a href="#">
           <span class="title">
            Enhancing Neurodivergent Communication with ML and LLMs
           </span>
         </a>
     
         <p class="desc">
          The project uses machine learning and Large Language Models (LLMs) to process brain signals, aiding neurodivergent individuals in speech and written 
          communication. It integrates brain signal detection, ML processing, LLM synthesis, and IoT communication, enhancing tools for schools, employers, and associates. 
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
    
    <!-- Project 3 -->
    <div class="projects">
      <div class="image"></div>
       <div class="content">
         <a href="#">
           <span class="title">
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
           </span>
         </a>
     
         <p class="desc">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
           dolores, possimus pariatur animi temporibus nesciunt praesentium 
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
    
    <!-- Project 3 -->
    <div class="projects">
      <div class="image"></div>
       <div class="content">
         <a href="#">
           <span class="title">
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
           </span>
         </a>
     
         <p class="desc">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
           dolores, possimus pariatur animi temporibus nesciunt praesentium 
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
  </div>
  <br>
  <h2>Completed Projects</h2>
  
  <!-- Project container -->
  <div class="project-container">
    <!-- Project 1 -->
    <div class="projects">
      <div class="image"><img src="/images/img/Robticarm.png"></div>
       <div class="content">
        <a>
           <span class="title">
              Articulated Robotic Arm
           </span>
          </a>
     
         <p class="desc">
          This project builds a life-sized wooden robotic arm with high load-bearing servos, combining mechanical design and advanced controls. 
          It's perfect for learning and experimentation, suitable for students, hobbyists, and professionals exploring robotics and practical applications.
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
    
    <!-- Project 2 -->
    <div class="projects">
      <div class="image"><img src="/images/img/Braincell.png"></div>
       <div class="content">
         <a href="#">
           <span class="title">
            Enhancing Neurodivergent Communication with ML and LLMs
           </span>
         </a>
     
         <p class="desc">
          The project uses machine learning and Large Language Models (LLMs) to process brain signals, aiding neurodivergent individuals in speech and written 
          communication. It integrates brain signal detection, ML processing, LLM synthesis, and IoT communication, enhancing tools for schools, employers, and associates. 
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
    
    <!-- Project 3 -->
    <div class="projects">
      <div class="image"></div>
       <div class="content">
         <a href="#">
           <span class="title">
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
           </span>
         </a>
     
         <p class="desc">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
           dolores, possimus pariatur animi temporibus nesciunt praesentium 
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
    
    <!-- Project 3 -->
    <div class="projects">
      <div class="image"></div>
       <div class="content">
         <a href="#">
           <span class="title">
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
           </span>
         </a>
     
         <p class="desc">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
           dolores, possimus pariatur animi temporibus nesciunt praesentium 
         </p>
     
         <a class="action" href="#">
           Find out more
           <span aria-hidden="true">
             →
           </span>
         </a>
       </div>
     </div>
  </div>
  <br>
</section>

<div class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="footer-links">
                  <h4>About Us</h4>
                  <ul>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="index.html">Home</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="aboutus.html">About us</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="/templates/projects.html">Our Project</a></li>
                  </ul>
              </div>

              <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="Regpays.html">Registration & Payments</a></li>
                      <li><i class="ion-ios-arrow-forward"></i> <a href="Our Team.html">Team</a></li>

              </div>

              <div class="footer-contact" style="font-size: 20px; font-family:'Times New Roman', Times;">
                  <h4>Contact Us</h4> 
                  <p>
                      Indain Institute of Science<br>
                      Bengaluru, Karnataka<br>
                      India<br>
                      <strong>Phone:</strong> +123-456-7890<br>
                      <strong>Email:</strong> info@example.com<br>
                  </p>

                  <div class="social-links">
                      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                      <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  </div>

              </div>

  <div class="container">
      <div class="row align-items-center">
          <div class="copyright" style="color: #000000; font-size: 1.3rem;">
              Copyright &copy; 2024 JRD INNOVATE. All Rights Reserved.
          </div>
      </div>
  </div>
</div>
  <script src="/javascript/project.js"></script>
  
</body>
</html> 
        
